header{
  width: 100;
}
#header-bar{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 256px;
  background-color: white;
  margin-bottom: 10px;
}
.admin_bar {
  background-color: white;
  height: fit-content;
  padding: 5px;
  overflow: visible;
}
.login_popup{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  background-color: rgb(207, 159, 253);
  border-radius: 20px;
  margin: 5px;
  box-shadow: 
  /*Outline*/
  0.5px 0.5px 0px rgb(176, 143, 207),
  1px 0.75px 0px rgb(176, 143, 207),
  2px 2px 0px rgb(176, 143, 207);
}
.tab_button {
  align-self: flex-start;
  border: 0px solid transparent;
  background-color: transparent;
  font-size: 28px;
  color: rgb(239, 210, 255);
}
@font-face{
  font-family: cutetext;
  src: url(./fonts/cutefont.ttf);
}
.title {
  color:rgb(238, 219, 255);
  letter-spacing: 4px;
  font-family: cutetext;
  font-weight: lighter;
  font-size: 80px;
  height: 64px;
  text-shadow: 
  /*Outline*/
  0.5px 0.5px 0px rgb(176, 143, 207),
  1px 1px 0px rgb(176, 143, 207),
  2px 2px 0px rgb(176, 143, 207),
  3px 3px 0px rgb(176, 143, 207),
  4px 4px 0px rgb(169, 120, 215);

  animation: load 2s ease 0s 1 normal;
}
.login_form{
  padding: 10px;
  display:flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}
.popup-content {
  width: fit-content;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes load {
  0% {
    translate: 0px -20px;
    opacity: 0.75;
    transform: scale(0.9);
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
    transform: scale(1);
  }
}