
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 159, 253);
    border-radius: 20px;
    box-shadow: 2px 3px 0px rgb(169, 120, 215);
    width: 450px;
    height: 48px;
    animation: load 2s ease 0s;
}
.link {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 1px 2px 0px rgb(169, 120, 215);
    transition: all 0.3s ease-in-out;
}

.link:hover {
    text-shadow: 2px 3px 0px rgb(155, 102, 204);
    color: rgb(251, 241, 253);
    transform: scale(1.125);
}

@keyframes load {
  0% {
    translate: 0px -20px;
    opacity: 0.75;
    transform: scale(0.9);
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
    transform: scale(1);
  }
}
